* {
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

body hr {
  border: 1px solid #EFEFEF;
}

body a {
  text-decoration: none;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.links {
  height: 50px;
  max-width: 100%;
  background: #efefef;
}

.top-ul {
  max-width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top-li {
  margin-top: 15px;
  list-style-type: none;
  cursor: pointer;
}

.top-li a {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  color: #333333;
}

/* /Верхний хедер */

.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1110px;
}

.left-logo {
  padding: 20px;
}

.logo-left {
  display: flex;
  align-items: center;
  padding-top: 20px;
  cursor: pointer;
}

.search-center {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  cursor: pointer;
}

.material-icons {
  color: #bdbdbd;
}

.btn_search {
  border: none;
  width: 50px;
  height: 40px;
  background: #efefef;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.search-form {
  outline: 0;
  border: none;
  width: 200px;
  height: 40px;
  background: #efefef;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}

.contakt-right {
  display: flex;
  align-items: center;
}

.contakt-right a {
  padding-right: 40px;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  padding-top: 50px;
}

.btn-tel {
  margin-top: 40px;
  width: 170px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #f13c6e;
  border-radius: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

.hr {
  height: 0px;
  border: 1px solid #efefef;
}

.navbar {
  max-width: 1140px;
}

.navbar ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  list-style-type: none;
  cursor: pointer;
  padding: 30px 30px;
}

.navbar li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.content {
  height: 604px;
  background-image: url(../img/beauty_bac.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  max-width: 100%;
}

.content-info {
  max-width: 1140px;
  padding-top: 192px;
}

.con-h2 {
  font-weight: 700;
  font-size: 48px;
  line-height: 56px;
  color: #ffffff;
}

.con-p {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  padding-top: 50px;
}

.btn-content {
  margin-top: 50px;
  width: 170px;
  height: 40px;
  background: #f13c6e;
  border: 2px solid #ffffff;
  border-radius: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #ffffff;
  cursor: pointer;
}

.offers {
  background: #e5e5e5;
}

.offers-inner {
  max-width: 1140px;
  padding: 80px 0 100px;
}

.offers-p {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.item-product {
  background: #ffffff;
}

.img-product {
  padding: 25px 65px 20px;
}

.prod-inf {
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #333333;
}

.prod-pr {
  padding: 20px;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;
  color: #000000;
}

.prod-btn {
  width: 130px;
  height: 35px;
  border: none;
  background: #f13c6e;
  border-radius: 30px;

  font-weight: 400;
  font-size: 14px;
  color: #ffffff;
  margin: 0 0 25px 62px;
  cursor: pointer;
}

.product {
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  grid-template-rows: 363px;
  gap: 30px;
  margin-top: 38px;
}


.dellivery {
  background: #e5e5e5;
}

.dellivery-inner {
  max-width: 1140px;
  padding: 0 0 100px;
}

.dell-content {
  display: grid;
  grid-template-columns: 540px 540px;
  grid-template-rows: 212px;
  gap: 30px;
}

.dell-left {
  display: flex;
  align-items: center;
  background: #F13C6E;
  padding: 35px 45px 35px 40px;
}


.dell-right {
  display: flex;
  align-items: center;
  background: #F13C6E;
  padding: 35px 45px 35px 40px;
}

.dell-h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.dell-p-l {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 25px 84px 25px 0;
}

.burger_btn {
  border: none;
  background: none;
  margin-right: 34px;
  display: none;
}

.dell-p-r {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #FFFFFF;
  padding: 25px 125px 25px 0;
}

.dell-inp {
  width: 225px;
  height: 35px;
  background: #FFFFFF;
  border-radius: 30px;
  border: none;
  outline: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

}

.dell-btn {
  width: 170px;
  height: 35px;
  background: #F13C6E;
  border: 2px solid #FFFFFF;
  border-radius: 30px;

  font-weight: 400;
  font-size: 14px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

.impuls {
  background: #e5e5e5;
}

.impuls-inner {
  max-width: 1140px;
}

.impuls-content {
  display: grid;
  grid-template-columns: 277px 277px 277px 277px;
  grid-template-rows: 119px 119px 119px;
  background: #FFFFFF;
}

.item-imp {
  display: flex;
  justify-content: center;
  align-items: center;
}

.category {
  background: #FFFFFF;
}

.category-inner {
  max-width: 1140px;
  padding: 60px 0 100px;
}

.category-content {
  display: grid;
  grid-template-columns: 255px 255px 255px 255px;
  gap: 30px;
}

.List-title {
  font-weight: 500;
  font-size: 16px;
  color: #000000;
  padding-bottom: 30px;
}

.main_list {
  padding-top: 25px;
}

.list_point {
  list-style-type: none;
  padding-top: 15px;
}

.list_point a {
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

.list_hr {
  border: 1px solid #EFEFEF;
  max-width: 255px;
}


.footer {
  background: #FFFFFF;
}

.footer-inner {
  max-width: 1140px;
  padding: 60px 0 100px;
}

.lef-bor {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 2px solid #F13C6E;

  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.foot-info {
  display: flex;
  align-items: center;
}

.foot-left {
  display: flex;
}

.lef-bor {
  margin-right: 20px;
}

.foot-p {
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.foot-right {
  display: flex;
  justify-content: center;

}

.btn-foot {
  width: 170px;
  height: 40px;
  background: #ffffff;
  border: 2px solid #f13c6e;
  border-radius: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  cursor: pointer;
}

.foot-a {
  display: flex;
  align-items: center;
  padding-right: 40px;
}

.foot-a a {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
}

.policy {
  background: #EFEFEF;
}

.policy-info {
  max-width: 1140px;
}

.policy-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.policy-p {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

.policy-a {
  font-weight: 400;
  font-size: 12px;
  color: #828282;
}

@media (max-width: 1024px) {
  .dell-content {
    grid-template-columns: 496px 496px;
  }

  .product {
    grid-template-columns: repeat(4, 224px);
    gap: 32px;
  }

  .impuls-content {
    grid-template-columns: repeat(4, 256px);
  }

  .category-content {
    gap: 26px;
  }
}

@media (max-width: 768px) {
  .product {
    grid-template-columns: repeat(3, 224px);
  }

  .dell-content {
    grid-template-columns: 768px;
  }

  .impuls-content {
    grid-template-columns: repeat(2, 380px);
    grid-auto-rows: 124px;
    grid-auto-columns: 119px;
    gap: 4px;
    padding: 0;
  }

  .category-content {
    display: grid;
    grid-template-columns: repeat(4, 170px);
    gap: 30px;
  }

  .info {
    flex-wrap: wrap;
  }

  .contakt-right {
    padding-bottom: 20px;
  }

  .contakt-right a {
    padding: 40px 40px 0 310px;
  }

  .content {
    background-position: center;
  }

  .content-info {
    padding-left: 20px;
  }

  .offers-p {
    padding-left: 20px;
  }

  .foot-info {
    flex-wrap: wrap;
  }

  .foot-right {
    padding-top: 30px;
  }

  .policy-p {
    font-size: 10px;
  }

  policy-a {
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .product {
    grid-template-columns: repeat(2, 193px);
  }

  .links {
    display: none;
  }

  .search-center {
    display: none;
  }

  .info {
    flex-wrap: nowrap;
    justify-content: left;
  }

  .contakt-right a {
    padding-left: 0;
  }

  .left-logo {
    width: 70px;
    padding-right: 5px;
  }

  .beauty_logo {
    width: 70px;
  }

  .contakt-right a {
    font-size: 11px;
  }

  .hr {
    display: none;
  }

  .contakt-right {
    display: none;
  }

  .navbar {
    display: none;
  }

  .logo-left {
    padding-top: 0px;
  }

  .dell-content {
    grid-template-columns: 480px;
  }

  .impuls-content {
    grid-template-columns: repeat(2, 237px);
  }

  .category-content {
    grid-template-columns: repeat(2, 170px);
  }

  .lef-bor {
    margin-right: 10px;
  }

  .lef-bor {
    height: 35px;
    width: 35px;
  }

  .foot-a {
    padding-right: 150px;
  }

  .policy-item {
    flex-direction: column;
  }

  .policy-p {
    font-size: 9px;
  }

  .logo-left {
    padding-right: 190px;
  }

  .burger_btn {
    display: block;
  }
}

@media (max-width: 375px) {
  .product {
    grid-template-columns: repeat(1, 373px);
  }

  .dell-content {
    grid-template-columns: 450px;
  }

  .dell-content {
    grid-template-columns: 375px;
  }


  .dell-p-l {
    font-size: 10px;
  }

  .dell-p-r {
    font-size: 9px;
  }


  .dell-h3 {
    font-size: 14px;
  }

  .dell-inp {
    width: 180px;
  }

  .dell-p-к {
    font-size: 10px;
}

.dell_svg {
  width: 68px;
}

.content {
  height: 460px;
  
}

.impuls-content {
  grid-template-columns: repeat(2, 184px);
}

.dell-p-l {
  padding: 25px 54px 25px 0;
}

.logo-left {
  padding-right: 175px;
}

.foot-p {
  font-size: 10px;
}

.foot-a {
  padding-right: 50px;
}

.footer-inner {
  padding: 40px 0 40px;
}

.policy-p {
  font-size: 7px;
}

.policy-a {
  font-size: 9px;
}

}